.event-card {
    border-radius: 6px;
    min-height: 200px;
}

.event-img {
    margin-top: 8px;
    width: 100%;
    border-radius: 4px;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
}